<!DOCTYPE html>

<html>

   <head>
      <title>File Metadata</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>

      <div class="container">
        <h1>File Metadata Microservice</h1>
        <p>
          <strong>Usage:</strong> Upload a file and get back the name, type and size of the file in json.
        </p>
        <div class="view">
          <h4 id="output"></h4>
          <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
            <input id="inputfield" type="file" required name="upfile">
            <input id="button" type="submit" value="Upload">
          </form>
        </div>
      </div>
   </body>


</html>
